* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Amatic SC', cursive;
}

.container-fluid{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
#background {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("assets/foyer.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden; 
    

}

.navigation-button {
    border: none;
    background-color: transparent;
    margin: 50px;
    cursor: pointer;
    transition: transform 0.5s;
}



button:focus {
    outline: none;
}

button:hover i {
    color: rgb(102, 102, 102);
}

i {
    color: gray;
    font-size: 2em;
}

/* Book */
.book {
    width: 400px;
    height: 550px;
    position: relative;
    transition: transform 0.5s;
}

.paper {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    perspective: 1500px;
}

.front {
    backface-visibility: hidden;
    border-left: 3px antiquewhite;
    background-image: url("assets/cover2.png");
}

.front, 
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    transform-origin: left;
    transition: transform 0.5s;
    background-image: url("assets/paper.jpg");
}

.front {
    z-index: 1;
}

.back {
    z-index: 0;
}

.front-content,
.back-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.back-content {
    transform: rotateY(180deg)
}

/* Paper Flipped */
.flipped .front,
.flipped .back {
    transform: rotateY(-180deg)
}

/* Paper Z-index */
#p1 {
    z-index: 3;
}

#p2 {
    z-index: 2;
    
}

#p3 {
    z-index: 1;
}

/* Customization */

.book-title {
    font-size: 3em;
    margin-bottom: 40px;
}

.cover-img {
    width: 200px;
    height: 270px;
    object-fit: fill;
    border-radius: 1vh;
}

#b1 {
    padding: 20px;
    text-align: center;
    font-size: 1.2em;
    justify-content: space-around;
}

#b1 h2 {
    font-size: 2em;
    margin-top: 10px;
    margin-bottom: 20px;
}

#b1 p {
    margin-bottom: 20px;
}

.sidebar {
    background-color: rgb(255, 255, 255, 0.8);
    background-image: url("assets/cover2.png");
}